@import url(./components/cursor.css);
@import url(./components/loader.css);

@import url(./index.css);
@import url(./container.css);
@import url(./multimedia.css);
@import url(./typography.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #f8f8f8;
    --background: #121212;
    --primary: #eee214;
    --primary-hover: #fff200;
    --secondary: #ededed;
    --secondary-hover: #cccccc;
    --accent: #52f2dc;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }
}