<div class="relative h-screen lazyload shaded">
    <video class="w-full h-full object-cover" autoplay loop muted>
        <source src="/video/tattoo.mp4" type="video/mp4" />
        Sorry, your browser doesn&apos;t support videos.
    </video>
    <div class="absolute inset-0 darken"></div>
    <div class="mix-blend-lighten absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 scale-150 z-10">
        <img 
            src="/logo.svg"
            alt="Logo"
            width="640" 
            height="640" 
            class="w-full h-auto"
        />
    </div>
</div>